.container {
    height: 100%;
}

.header {
    display: flex;
    height: 8rem;
    align-items: flex-end;
}

.imageContainer {
    padding-left: 1rem;
}

.subHeader {
    padding: 1rem 0 0 4.5rem;
}
.tooltipContainer {
    background-color: #dddddd;
    height: 100%;
}
.tooltip {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 5rem 1rem 0 1.5rem;
}

.main {
    padding: 3rem 1rem 2rem;
}