.container {
  background-color: #f9f9f9;
}

.header {
  padding: 2rem 1rem .5rem;
}

.error {
  color: red;
  font-size: 1.2rem;
}

.subHeader {
  padding: 1rem 0 0 4.5rem;
}

.buttonContainer {
  padding-top: 7rem;

}

.input {
  height: 60px;
  border-radius: 10px !important;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.search {
  margin-top: 1.5rem;
  display:flex;
  flex-direction: column;
}

.formTitle {
  font-weight: 700;
  font-size: 1.5rem;
}

.main {
  padding: 1rem 1rem 2rem;
}

@media  (min-width: 700px) {
  .container {
    overflow: hidden;
  }
  .main {
    padding: 0 3rem;
  }
  
  .subHeader {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formTitle {
    padding: 1rem 0 0 2rem;
    align-self: flex-start;
  }

  .formDescription {
    padding: 0 0 0 2rem;
    align-self: flex-start;
  }

  .buttonContainer {
    padding:  0;
  }
}
